{{#if damage.main}}
    {{> damage roll=damage.main label=(localize "DAGGERHEART.GENERAL.damage") memberKey=key isCritical=isCritical}}
{{/if}}

{{#each damage.resources as |roll key|}}
    {{> damage roll=roll label=(localize (concat "DAGGERHEART.CONFIG.HealingType." key ".name")) memberKey=../key isResource="true" }}
{{/each}}

{{#*inline "damage"}}
    <div class="roll-data {{#if isCritical}}critical{{/if}}">
        <div class="duality-label">
            <span>{{label}}:</span>
            <span>{{roll.total}}</span>
        </div>

        <div class="roll-dice-container">
            {{#each roll.dice}}
                {{#each results as |result index|}}
                    {{#if result.active}}
                        <a class="roll-dice" data-action="rerollDamageDice" data-member-key="{{../../memberKey}}" data-damage-key="{{@../../key}}" {{#if ../../isResource}}data-is-resource="true"{{/if}} data-dice-index="{{@../key}}" data-result-index="{{index}}">
                            <span class="dice-label">{{result.result}}</span>
                            <img src="{{concat "systems/daggerheart/assets/icons/dice/hope/" ../denomination ".svg"}}" />
                        </a>
                    {{/if}}
                {{/each}}
                {{#unless @last}}
                    <span class="roll-operator">+</span>
                {{/unless}}
            {{/each}}
            {{#if roll.modifierTotal}}
                {{#if roll.dice.length}}<span class="roll-operator">{{#if (gte roll.modifierTotal 0)}}+{{else}}-{{/if}}</span>{{/if}}
                <span class="roll-value">{{positive roll.modifierTotal}}</span>
            {{/if}}
        </div>
    </div>
{{/inline}}