<li class="chat-message message flexcol {{cssClass}}" data-message-id="{{message._id}}"
    {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}}>
    <header class="message-header flexrow">
        <div class="portrait">
            <img class="actor-img" src="{{actor.img}}" />
        </div>
        <div class="message-header-main">
            {{#if message.title}}
                <h4>{{message.title}}</h4>
            {{else if (not actor.name)}}
                <h4>{{author.name}}</h4>
            {{else}}
                <h4>{{alias}}</h4>
            {{/if}}

            <span class="message-metadata">
                <time class="message-timestamp">{{timeSince message.timestamp}}</time>
                {{#if canDelete}}
                <a aria-label="{{localize 'Delete'}}" class="message-delete" data-action="deleteMessage">
                    <i class="fa-solid fa-trash" inert></i>
                </a>
                {{/if}}
                {{#if canClose}}
                <a aria-label="{{ localize "CHAT.Dismiss" }}" class="message-dismiss" data-action="dismissMessage">
                    <i class="fa-solid fa-xmark" inert></i>
                </a>
                {{/if}}
            </span>

            <div class="subtitle">
                <div class="name">
                    {{#if message.title}}
                        {{alias}} {{#if author.isGM}}(GM){{/if}}
                    {{else if (not actor.name)}}
                        {{author.name}}
                    {{/if}}
                </div>

                {{#if isWhisper}}
                    <span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
                {{/if}}
            </div>
        </div>
    </header>
    <div class="message-content">
        {{{message.content}}}
        {{#if message.flavor}}
            <span class="flavor-text">{{{message.flavor}}}</span>
        {{/if}}
    </div>
</li>