<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>
    <fieldset class="two-columns">
        <legend>{{localize tabs.settings.label}}</legend>

        <span>{{localize "DAGGERHEART.GENERAL.type"}}</span>
        {{formInput systemFields.type value=source.system.type localize=true}}
        <span>{{localize "DAGGERHEART.GENERAL.Domain.single"}}</span>
        {{formInput systemFields.domain value=source.system.domain choices=domainChoices valueAttr="id" labelAttr="label" localize=true}}
        <span>{{localize "DAGGERHEART.GENERAL.level"}}</span>
        {{formInput systemFields.level value=source.system.level data-dtype="Number"}}
        <span>{{localize "DAGGERHEART.ITEMS.DomainCard.recallCost"}}</span>
        {{formInput systemFields.recallCost value=source.system.recallCost data-dtype="Number"}}
        <span>{{localize "DAGGERHEART.ITEMS.DomainCard.vaultActive"}}</span>
        {{formInput systemFields.vaultActive value=source.system.vaultActive}}
        <span>{{localize "DAGGERHEART.ITEMS.DomainCard.loadoutIgnore"}}</span>
        {{formInput systemFields.loadoutIgnore value=source.system.loadoutIgnore}}
        <span>{{localize "DAGGERHEART.ITEMS.DomainCard.domainTouched"}}</span>
        {{formInput systemFields.domainTouched value=source.system.domainTouched placeholder=0 }}
    </fieldset>

    {{> "systems/daggerheart/templates/sheets/global/partials/resource-section/resource-section.hbs" }}
</section>