<div>
    <h2>{{localize "DAGGERHEART.APPLICATIONS.DaggerheartMenu.title"}}</h2>
    
    <fieldset>
        <legend>{{localize "DAGGERHEART.APPLICATIONS.DaggerheartMenu.refreshFeatures"}}</legend>

        <div class="menu-options-container">
            <div class="menu-options-inner-container">
                {{#each refreshables as |type key|}}
                    <div class="option-chip {{#if type.selected}}selected{{/if}}" data-action="selectRefreshable" data-type="{{key}}">
                        {{#if type.selected}}
                            <span><i class="fa-solid fa-circle"></i></span>
                        {{else}}
                            <span><i class="fa-regular fa-circle"></i></span>
                        {{/if}}
                        <span>{{type.label}}</span>
                    </div>

                {{/each}}
            </div>
            <button data-action="refreshActors" {{disabled disableRefresh}}>{{localize "DAGGERHEART.GENERAL.refresh"}}</button>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{localize "DAGGERHEART.APPLICATIONS.DaggerheartMenu.fallingAndCollision"}} <i class="fa-solid fa-explosion fa-fw"></i></legend>

        <div class="menu-options-container">
            <div class="menu-options-inner-container">
                {{#each fallAndCollision as |data key|}}
                    <button data-action="createFallCollisionDamage" data-key="{{key}}">
                        {{localize data.label}}
                    </button>
                {{/each}}
            </div>
        </div>
    </fieldset>
</div>
