<div class="compendium-results">
    {{#if menu.path.length }}
        <div class="menu-path">
            {{#each menu.path}}
                {{#if (eq this "folders")}}
                    <span class="path-link">
                        /
                    </span>
                {{else}}
                    <span class="item-path">{{this}}</span>
                {{/if}}
            {{/each}}
        </div>
        <div class="item-filter">
            <div class="filter-header">
                <div class="search-bar">
                    <div class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input type="search" name="search" class="search-input" placeholder="{{localize 'DAGGERHEART.UI.ItemBrowser.searchPlaceholder'}}">
                </div>
                <a data-tooltip="{{localize 'DAGGERHEART.UI.ItemBrowser.tooltipFilters'}}" data-action="expandContent" disabled><i class="fa-solid fa-filter"></i></a>
                <a data-tooltip="{{localize 'DAGGERHEART.UI.ItemBrowser.tooltipErase'}}" data-action="resetFilters"><i class="fa-solid fa-eraser"></i></a>
            </div>
            <div class="filter-content extensible">
                <div class="wrapper"></div>
            </div>
        </div>
        {{#if menu.data.columns.length}}
            <div class="item-list-header">
                <div class="item-list-img"></div>
                <div class="item-list-name" data-sort-key="name" data-sort-type="ASC" data-action="sortList">{{localize 'DAGGERHEART.UI.ItemBrowser.columnName'}}</div>
                    {{#each menu.data.columns}}
                        <div data-sort-key="{{key}}" data-sort-type="" data-action="sortList">{{localize label}}</div>
                    {{/each}}
                </div>
        {{/if}}
        <div class="item-list"></div>
    {{else}}
        <div class="welcome-message">
            <h2 class="title">{{localize "DAGGERHEART.UI.ItemBrowser.title"}}</h2>
            <span class="hint"><i>{{localize "DAGGERHEART.UI.ItemBrowser.hint"}}</i></span>
        </div>
    {{/if}}
</div>