<div class="compendium-sidebar">
    <div class="folder-list">
        {{#each compendiums}}
                <div class="{{#if selected}} is-selected{{/if}}" data-action="selectFolder" data-folder-id="{{id}}" {{#if folders.length}}data-tooltip="DAGGERHEART.UI.Tooltip.rightClickExtand" data-tooltip-direction="RIGHT"{{/if}}>{{label}}</div>
                {{#if folders.length}}
                    <div class="subfolder-list">
                        <div class="wrapper">
                            {{#each folders}}
                                <div
                                    class="subfolder-item {{#if selected}} is-selected{{/if}}"
                                    data-action="selectFolder"
                                    data-folder-id="{{../id}}.folders.{{id}}"
                                >
                                    <span>• {{label}}</span>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
        {{/each}}
    </div>
</div>
