<div class="item-description-outer-container">
    <div class="three-columns">
        <div class="item-description-container">
            <h4>{{localize "DAGGERHEART.GENERAL.Tiers.singular"}}</h4>
            <span>{{tier}}</span>
        </div>

        <div class="item-description-container">
            <h4>{{localize "DAGGERHEART.GENERAL.Trait.single"}}</h4>
            <span>{{trait}}</span>
        </div>

        <div class="item-description-container">
            <h4>{{localize "DAGGERHEART.GENERAL.range"}}</h4>
            <span>{{range}}</span>
        </div>
    </div>

    <div class="three-columns">
        <div class="item-description-container">
            <h4>{{localize "DAGGERHEART.GENERAL.damage"}}</h4>
            <span>{{damage}}</span>
        </div>

        <div class="item-description-container">
            <h4>{{localize "DAGGERHEART.GENERAL.burden"}}</h4>
            <span>{{burden}}</span>
        </div>
    </div>

    {{#if features.length}}
        <div class="item-description-container">
            <h4>{{localize "DAGGERHEART.GENERAL.features"}}</h4>
            {{#each features as | feature |}}
                <div><strong>{{localize feature.label}}</strong>: {{{localize feature.description}}}</div>
            {{/each}}
        </div>
    {{/if}}
</div>