<div class="gold-section">
    {{#each currencies as |currency key|}}
        {{#if currency.enabled}}
            <div class="input currency" data-currency="{{key}}">
                <span class="drag-handle">
                    <i class="{{currency.icon}}" inert></i> {{localize currency.label}}
                </span>
                <input type="text" name="{{currency.field.fieldPath}}" data-allow-delta value="{{currency.value}}" data-dtype="Number" min="0" step="1" />
            </div>
        {{/if}}
    {{/each}}
</div>