<section class="initialization-container tab {{#if tabs.initialization.active}} active{{/if}}" data-group="{{tabs.initialization.group}}" data-tab="{{tabs.initialization.id}}">
    <h2>{{localize "DAGGERHEART.APPLICATIONS.TagTeamSelect.selectParticipants"}}</h2>
    <div class="members-container">
        {{#each memberSelection as |member|}}
            <a 
                class="member-container {{#unless member.selected}}inactive {{#if ../allselected}}locked{{/if}}{{/unless}}" 
                data-action="toggleSelectMember" data-id="{{member.id}}" {{#if (and (not member.selected) ../allSelected)}}disabled{{/if}}
            >
                <span class="member-name">{{member.name}}</span>
                <img src="{{member.img}}" />
            </a>
        {{/each}} 
    </div>

    <div class="initiator-container {{#if initiatorDisabled}}inactive{{/if}}">
        <div class="form-group">
            <label>{{localize "DAGGERHEART.APPLICATIONS.TagTeamSelect.FIELDS.initiator.memberId.label"}}</label>
            <div class="form-fields">
                <select class="initiator-member-field" {{#if initiatorDisabled}}disabled{{/if}}>
                    {{selectOptions initiatorOptions selected=initiator.memberId blank="" }}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "DAGGERHEART.APPLICATIONS.TagTeamSelect.FIELDS.initiator.cost.label"}}</label>
            <div class="form-fields">
                <input type="text" data-dtype="Number" value="{{initiator.cost}}" class="initiator-cost-field" {{#if initiatorDisabled}}disabled{{/if}} />
            </div>
        </div>
    </div>

    <footer>
        <button type="button" data-action="startTagTeamRoll" {{#unless canStartTagTeam}}disabled{{/unless}}>{{localize "DAGGERHEART.APPLICATIONS.TagTeamSelect.startTagTeamRoll"}} <i class="fa-solid fa-arrow-right-long"></i></button>
        <div class="finish-tools {{#unless canStartTagTeam}}inactive{{/unless}}">
            <span>{{localize "DAGGERHEART.APPLICATIONS.TagTeamSelect.openDialogForAll"}}</span>
            <input type="checkbox" class="openforall-field" {{#unless canStartTagTeam}}disabled{{/unless}} {{checked openForAllPlayers}} />
        </div>
    </footer>
</section>