<section
    class="tab {{tabs.notes.cssClass}} {{tabs.notes.id}}"
    data-tab="{{tabs.notes.id}}"
    data-group="{{tabs.notes.group}}"
>
    {{formInput notes.field value=notes.value enriched=notes.value toggled=true}}
</section>