<div class="dialog-content standard-form">
    <div class="summary">
        <img class="actor-img" src="{{originActor.img}}" />
        <div class="granted-item">
            {{#if itemImage}}
                <img src="{{itemImage}}" />
            {{else}}
                <i inert class="currency-icon {{currencyIcon}}"></i>
            {{/if}}
            <i inert class="fa-solid fa-hand-holding"></i>
        </div>
        <img class="actor-img" src="{{targetActor.img}}" />
    </div>
    <div class="form-group">
        <label>{{localize "DAGGERHEART.GENERAL.quantity"}}</label>
        <div class="form-fields">
            <range-picker step="1" min="1" max="{{max}}" name="quantity" value="{{max}}"></range-picker>
        </div>
    </div>
</div>
<div class="dialog-buttons">
    <button type="button" data-action="finish">
        <i inert class="fa-solid fa-gift"></i>
        {{localize "DAGGERHEART.APPLICATIONS.ItemTransfer.transfer"}}
    </button>
</div>