<div class="ownership-outer-container">
    {{#if showOwnership}}
        <ul class="ownership-list">
            {{#each ownership as |player id|}}
                <li class="ownership-container">
                    <img src="{{player.img}}" />
                    <span>{{player.name}}</span>
                    <select name="{{concat "ownership." id}}" data-dtype="Number">
                        {{selectOptions @root.ownershipOptions selected=player.ownership  labelAttr="label" valueAttr="value" localize=true }}
                    </select>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <span class="hint">{{localize "DAGGERHEART.APPLICATIONS.OwnershipSelection.noPlayers"}}</span>
    {{/if}}
    <footer class="flexrow">
        <button type="submit">{{localize "Save"}}</button>
    </footer>
</div>
