<div class="daggerheart armor-management-container">
    <h3>{{localize "DAGGERHEART.GENERAL.armorSlots"}}</h3>
    {{#each sources as |source|}}
        <div class="armor-source-container">
            <p class="armor-source-label">{{source.name}}</p>
            <div class="slot-bar">
                {{#times source.max}}
                    <a class='armor-slot' data-value="{{add this 1}}" data-uuid="{{source.uuid}}">
                        {{#if (gte ../current (add this 1))}}
                            <i class="fa-solid fa-shield" data-index="{{this}}"></i>
                        {{else}}
                            <i class="fa-solid fa-shield-halved" data-index="{{this}}"></i>
                        {{/if}}
                    </a>
                {{/times}}
            </div>
        </div>
    {{/each}}
</div>