{{#with (lookup members partId)}}
    <fieldset class="team-member-container {{#if @root.allHaveRolled}}select-padding{{/if}} {{#unless isEditable}}inactive{{/unless}}" data-member-key="{{@root.partId}}">
        <div class="data-container">
            <div class="member-info">
                <img src="{{img}}" />
                <div class="member-data">
                    <span class="member-name">{{name}}</span>
                    <div class="roll-setup">
                        <div class="form-group">
                            <div class="form-fields">
                                {{!-- <label>{{localize "DAGGERHEART.GENERAL.Trait.single"}}</label> --}}
                                <select name="{{concat "system.groupRoll.aidingCharacters." @root.partId ".rollChoice"}}" {{#if hasRolled}}disabled{{/if}}>
                                    {{selectOptions ../traitOptions selected=rollChoice localize=true}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if readyToRoll}}
                <div class="roll-container">
                    <span class="roll-title">
                        {{localize "DAGGERHEART.GENERAL.roll"}}
                        <div class="roll-tools">
                            <a class="roll-button" data-action="makeRoll" data-member="{{@root.partId}}">
                                <img src="systems/daggerheart/assets/icons/dice/hope/d12.svg" />
                            </a>

                            {{#if hasRolled}}
                                <a class="delete-button" data-action="removeRoll" data-member="{{@root.partId}}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            {{/if}}
                        </div>
                    </span>

                    {{#if roll}}
                        <div class="roll-data {{#if roll.withHope}}hope{{else if roll.withFear}}fear{{else}}critical{{/if}}">
                            <div class="duality-label">{{roll.total}} {{localize "DAGGERHEART.GENERAL.withThing" thing=roll.totalLabel}}</div>
                            <div class="roll-dice-container">
                                <a class="roll-dice" data-action="rerollDice" data-member="{{@root.partId}}" data-dice-type="hope">
                                    <span class="dice-label">{{roll.dHope.total}}</span>
                                    <img src="{{concat "systems/daggerheart/assets/icons/dice/hope/" roll.dHope.denomination ".svg"}}" />
                                </a>
                                <span class="roll-operator">+</span>
                                <a class="roll-dice" data-action="rerollDice" data-member="{{@root.partId}}" data-dice-type="fear">
                                    <span class="dice-label">{{roll.dFear.total}}</span>
                                    <img src="{{concat "systems/daggerheart/assets/icons/dice/fear/" roll.dFear.denomination ".svg"}}" />
                                </a>
                                {{#if roll.advantage.type}}
                                    <span class="roll-operator">{{#if (eq roll.advantage.type 1)}}+{{else}}-{{/if}}</span>
                                    <span class="roll-dice">
                                        <span class="dice-label">{{roll.advantage.value}}</span>
                                        <img src="{{concat "systems/daggerheart/assets/icons/dice/" (ifThen (eq roll.advantage.type 1) "adv/" "disadv/") roll.advantage.dice ".svg"}}" />
                                    </span>
                                {{/if}}
                                <span class="roll-operator">{{#if (gte roll.modifierTotal 0)}}+{{else}}-{{/if}}</span>
                                <span class="roll-value">{{positive roll.modifierTotal}}</span>
                            </div>
                        </div>
                    {{else}}
                        <span class="hint">{{localize "DAGGERHEART.APPLICATIONS.TagTeamSelect.makeYourRoll"}}</span>
                    {{/if}}
                </div>
            {{/if}}
            {{#if hasRolled}}
                <div class="roll-success-container">
                    {{#if ../isGM}}
                        <div class="roll-success-tools">
                            <a data-action="markSuccessfull" data-member="{{@root.partId}}" data-successfull="true">
                                <i class="{{#if successfull}}fa-solid{{else}}fa-regular{{/if}} fa-circle-check"></i>
                            </a>
                            <a data-action="markSuccessfull" data-member="{{@root.partId}}">
                                <i class="{{#unless successfull}}fa-solid{{else}}fa-regular{{/unless}} fa-circle-xmark"></i>
                            </a>
                        </div>
                    {{/if}}
                    <div class="roll-success-modifier {{#if successfull}}success{{else if (not (isNullish successfull))}}failure{{/if}}">
                        {{localize "DAGGERHEART.GENERAL.Modifier.single"}}{{#if successfull}} + 1{{else if (isNullish successfull)}} + ?{{else}} - 1{{/if}}
                    </div>
                </div>
            {{/if}}
        </div>
    </fieldset>
{{/with}}