<div>
    <div class="countdowns-container">
        {{#each countdowns as | countdown id |}}
            <div class="countdown-container {{#if ../iconOnly}}icon-only{{/if}}">
                <div class="countdown-main-container">
                    <img src="{{countdown.img}}" {{#if ../iconOnly}}data-tooltip="{{countdown.name}}"{{/if}}/>
                    <div class="countdown-content">
                        {{#unless ../iconOnly}}<label>{{countdown.name}}</label>{{/unless}}
                        <div class="countdown-tools">
                            {{#if countdown.editable}}<a data-action="decreaseCountdown" id="{{id}}"><i class="fa-solid fa-minus"></i></a>{{/if}}
                            <div class="progress-tag">
                                {{countdown.progress.current}}/{{countdown.progress.max}}
                            </div>
                            {{#if countdown.editable}}<a data-action="increaseCountdown" id="{{id}}"><i class="fa-solid fa-plus"></i></a>{{/if}}
                        </div>
                    </div>
                </div>
                {{#if (and @root.isGM (not ../iconOnly))}}
                    {{#if (gt countdown.playerAccess.length 0)}}
                        <div class="countdown-access-container">
                            {{#each countdown.playerAccess as |player|}}
                                <div class="countdown-access" style="{{concat "background: " player.color.css ";"}}" data-tooltip="{{player.name}}"></div>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if countdown.noPlayerAccess}}
                        <div class="countdown-no-access-container"><i class="fa-solid fa-eye-slash" data-tooltip="{{localize "DAGGERHEART.UI.Countdowns.noPlayerAccess"}}"></i></div>
                    {{/if}}
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>