<div>
    <div class="effects-display-container">
        {{#each effects as | effect |}}
            <span class="effect-container {{#if effect.condition}}disabled{{/if}}" data-tooltip="#effect-display#" data-effect-id="{{effect.id}}"
                {{#if effect.appliedBy}}data-applied-by="{{effect.appliedBy}}"{{/if}}
                {{#if effect.condition}}data-condition="{{effect.condition}}"{{else}}data-uuid="{{effect.uuid}}"{{/if}}
            >
                <a {{#if effect.condition}}disabled{{/if}}>
                    <img src="{{effect.img}}" />
                </a>
                {{#if effect.condition}}<i class="effect-locked fa-solid fa-lock"></i>{{/if}}
            </span>
        {{/each}}
    </div>
</div>