<header class="dialog-header">
    <div class="dialog-header-inner">
        <h1>{{ifThen rollConfig.headerTitle rollConfig.headerTitle rollConfig.title}}</h1>
        {{#if showReaction}}
            <div class="reaction-chip {{#if reactionOverride}}selected{{/if}}" data-action="toggleReaction">
                <span><i class="{{ifThen reactionOverride "fa-solid" "fa-regular"}} fa-circle"></i></span>
                <span class="label">{{localize "DAGGERHEART.GENERAL.reactionRoll"}}</span>
            </div>
        {{/if}}
    </div>
    {{#if (and @root.hasRoll @root.activeTagTeamRoll)}}
        <div class="tag-team-controller {{#if @root.tagTeamSelected}}selected{{/if}}" data-action="toggleTagTeamRoll">
            <span><i class="{{ifThen @root.tagTeamSelected "fa-solid" "fa-regular"}} fa-circle"></i></span>
            <span class="label">{{localize "DAGGERHEART.APPLICATIONS.TagTeamSelect.title"}}</span>
        </div>
    {{/if}}
</header>