<header class='npc-header-sheet'>
    <div class="portrait">
        <img src="{{source.img}}" alt="{{source.name}}" data-action='editImage' data-edit="img">
    </div>
    <div class="info-section">
        <line-div></line-div>

        <div class="name-row">
            <h1
                class="input actor-name"
                contenteditable="plaintext-only"
                data-property="name"
                placeholder="{{localize "DAGGERHEART.GENERAL.actorName"}}"
                autocomplete="off"
                spellcheck="false"
            >{{source.name}}</h1>
        </div>

        {{#if source.system.difficulty}} 
            <div class="tags">
                <div class="tag">
                    <span>{{localize "DAGGERHEART.GENERAL.difficulty"}}</span>
                    <span>{{source.system.difficulty}}</span>
                </div>
            </div>
        {{/if}}

        <line-div></line-div>

        <div class="npc-info">
            <span class="description">
                <i>{{{description}}}</i>
            </span>
            {{#if source.system.motives}}
                <div class="motives-and-tactics">
                    <b>{{localize 'DAGGERHEART.ACTORS.NPC.FIELDS.motives.label'}}: </b>
                    {{source.system.motives}}
                </div>
            {{/if}}
        </div>
    </div>
</header>