<section
    class='tab {{tabs.features.cssClass}} {{tabs.features.id}}'
    data-tab='{{tabs.features.id}}'
    data-group='{{tabs.features.group}}'
>
    {{#each featureGroups as |group|}}
        <fieldset>
            <legend>
                {{group.label}}
                <a data-action="createDoc" data-document-class="Item" data-type="feature" data-tooltip="{{localize 'DOCUMENT.Create' type=(localize "TYPES.Item.feature")}}" data-feature-form="{{group.featureForm}}">
                    <i class="fa-solid fa-plus icon-button"></i>
                </a>
            </legend>
            <ul class="feature-list">
                {{#each group.features as |feature|}}
                    {{> 'daggerheart.inventory-item'
                        item=feature
                        type='feature'
                        actorType=@root.document.type
                        hideTags=true
                        hideContextMenu=true
                        hideResources=true
                        showActions=false
                        hideTooltip=true
                    }}
                {{/each}}
            </ul>
        </fieldset>
    {{/each}}
    <div class="features-dragger">
        <span>{{localize "DAGGERHEART.GENERAL.dropFeaturesHere"}}</span>
    </div>
</section>