<section
    class="tab {{tabs.settings.cssClass}} {{tabs.settings.id}}"
    data-tab="{{tabs.settings.id}}"
    data-group="{{tabs.settings.group}}"
>
    <div class="scrollable">
        <header class="dialog-header">
            <h1>{{localize 'DAGGERHEART.SETTINGS.Menu.homebrew.name'}}</h1>
        </header>
        {{formGroup settingFields.schema.fields.maxFear value=settingFields._source.maxFear localize=true}}
        {{formGroup settingFields.schema.fields.maxDomains value=settingFields._source.maxDomains localize=true}}
        {{formGroup settingFields.schema.fields.maxLoadout value=settingFields._source.maxLoadout localize=true}}
        <div class="settings-hint"><label>{{localize "DAGGERHEART.SETTINGS.Homebrew.FIELDS.maxLoadout.hint"}}</label></div>

        <fieldset class="six-columns">
            <legend>
                {{localize "DAGGERHEART.SETTINGS.Homebrew.FIELDS.traitArray.label"}}
            </legend>

            {{#each settingFields._source.traitArray as |trait index|}}
            <div class="input trait-item">
                <span>{{localize "DAGGERHEART.GENERAL.Modifier.single"}} {{add index 1}}</span>
                <input type="text" data-dtype="Number" name="{{concat "traitArray." index}}" value="{{this}}" />
            </div>
            {{/each}}
        </fieldset>

        <fieldset>
            <legend>
                {{localize "DAGGERHEART.SETTINGS.Homebrew.currency.title"}} 
            </legend>
            <div class="toggleable-row spaced">
                {{formGroup settingFields.schema.fields.currency.fields.title value=settingFields._source.currency.title localize=true}}
            </div>
            <div class="toggleable-row">
                {{formGroup settingFields.schema.fields.currency.fields.coins.fields.label value=settingFields._source.currency.coins.label localize=true}}
                <input type="checkbox" {{checked settingFields._source.currency.coins.enabled}} disabled />
            </div>
            <div class="toggleable-row">
                {{formGroup settingFields.schema.fields.currency.fields.handfuls.fields.label value=settingFields._source.currency.handfuls.label localize=true}}
                <input type="checkbox" name="currency.handfuls.enabled" {{checked settingFields._source.currency.handfuls.enabled}} />
            </div>
            <div class="toggleable-row">
                {{formGroup settingFields.schema.fields.currency.fields.bags.fields.label value=settingFields._source.currency.bags.label localize=true}}
                <input type="checkbox" name="currency.bags.enabled" {{checked settingFields._source.currency.bags.enabled}} />
            </div>
            <div class="toggleable-row">
                {{formGroup settingFields.schema.fields.currency.fields.chests.fields.label value=settingFields._source.currency.chests.label localize=true}}
                <input type="checkbox" name="currency.chests.enabled" {{checked settingFields._source.currency.chests.enabled}} />
            </div>
        </fieldset>
    </div>
</section>